*{
    margin: 0;
    padding: 0;
    border: border-box;
}
header{
    width: 100%;
    height: 70px;
}
.navbar{
    height: 70px;
    width: 100%;
    background-color: #6f6af7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-family: Delius Unicase;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #ffffff;
    margin-left: 2rem;
}
.navOptions{
    width:50%;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    color: #ffffff;
    margin-left: 2rem;
}
.searchBox{
    width: 15%;
    height: 40%;
    border-radius: 63px;
    border: none;
    color: #ffffff;
}
input.searchBox::placeholder{
    color: #9f9f9f;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
}
input{
    background-image: url("./images/Search.svg");
    background-repeat: no-repeat;
    background-position: 175px center;
}
#menu{
    height: 70px;
    width: 70px;
    margin-top: 3.5rem;
    margin-right: 10rem;
}
.panel{
    margin-top: 3.5rem;
    margin-left: 3rem;
}
.topPanel{
    height: 350px;
    width:80%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.topPanelImage{
    width: 450px;
    height: 400px;
    margin-right: 1.5rem;
    margin-left: 3rem;
    border-radius: 20px;
    background: url("./images/topPanelImage.jpg");
    background-size: cover;
    box-shadow: 4px 7px rgb(0 0 0 / 44%);
}
.topPanelText{
    width: 970px;
    height: 400px;
    background-color: #e5d8ff;
    border-radius: 20px;
    border: 6px;
    border-color: #ffffff;
    box-shadow: inset 3px 3px rgb(0 0 0 / 25%);
}
.text{
    width: 92%;
    height: 25%;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #6f7373;
    margin-top: 20px;
    margin-left: 1rem;
    text-align: left;
}
main{
    display: flex;
    justify-content: space-evenly;
}
aside{
    position: sticky;
    top: 0;
    right: 0;
}
.midPanel{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
}
.midBox{
    width: 335px;
    height: 145px;
    margin-left: 25px;
    border-radius: 11px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 40%);
}
.firstBox{
    background-color: #929def;
}
.secondBox{
    background-color: #734cf2;
}
.thirdBox{
    background-color: #d288ff;
}
.fourthBox{
    background-color: #000000;
}
.line{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.2rem;
    color: #ffffff;
}
.firstLine{
    line-height: 51px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.secondLine{
    line-height: 49px;
    margin-left: 1rem;
}
.helpdesk{
    position: fixed;
    right: 3rem;
    top: 30rem;
}
.bottomPanel{
    width: 80%;
    height: 520px;
    background-color: #483eff;
    border-radius: 21px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1.5rem;
}
.bottomOptions{
    width: 450px;
    height: 150px;
    vertical-align: middle;
    margin-top: 20px;
}
.bottomOptionsBox{
    width: 250px;
    height: 100px;
    border-radius: 20px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 62px;
    letter-spacing: 0.2rem;
    margin-bottom: 25px;
    margin-left: 3rem;
    margin-top: 2rem ;
}
.topBox{
    background-color: #bce0f6;
    border: none;
    box-shadow: 3px 3px rgb(0 0 0 / 40%);
}
.boxes{
    background-color: #483eff;
    border: 3px solid #ffffff;
    color: #ffffff;
}
.bottomDetails{
    width: 1005px;
    height: 90%;
    border-radius: 18px;
    background-color: white;
    margin-top: 1.5rem;
    margin-right: 20px;
}
h2{
    font-family: Inter;
    font-weight: 700;
    font-size: 2rem;
    line-height: 45px;
    letter-spacing: 0.01rem;
    color: #04285a;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.info{
    display: flex;
}
.firstColumn{
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 32px;
    letter-spacing: 0.01rem;
    color: #04285a;
    margin-right: 20px;
    margin-left: 4rem;
}
.secondColumn{
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 0.01rem;
    color: #04285a;
}
.thirdColumn{
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 0.0085rem;
    color: #143565;
    margin-left: 12px;
}
.bottomButton{
    width: 150px;
    height: 60px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #000000;
    float: right;
    margin-top: 9rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.025rem; 
}